// Colors
$color1: #ffffff;
// $color2: #1D3E7A;
$color3: #061229;
$color4: #C80000;

// Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

// Fonts
@font-face {
  font-family: me123;
  src: url("../fonts/Mass-Effect-Font/me123.ttf");
}
